In [4]:
import pandas as pd
df=pd.read_csv('04_gap-merged.tsv', sep='\t')

In [5]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:

print("The number of row and column in this file is ", df.shape)

The number of row and column in this file is  (3312, 6)

In [23]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [36]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [40]:
col_country = df['country']
country_dot_df=df.country
print(col_country.head())
print(country_dot_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [34]:
print(col_country.tail())

3307    Zimbabwe
3308    Zimbabwe
3309    Zimbabwe
3310    Zimbabwe
3311    Zimbabwe
Name: country, dtype: object

In [39]:
select_col = ['country', 'continent', 'year']
print(df[select_col].head())
print(df[select_col].tail())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country continent  year
3307  Zimbabwe    Africa  1987
3308  Zimbabwe    Africa  1992
3309  Zimbabwe    Africa  1997
3310  Zimbabwe    Africa  2002
3311  Zimbabwe    Africa  2007